/* makes widths and heights easir to style */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  /* view width/height */
  height: 100vh;

  align-items: center;
  background-color: whitesmoke;
}


.timerText {
  position: default;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

/* container */
.container {
  width: 800px;
  max-width: 80%;
  height: 600px;
  max-height: 80%;
  /* max width 80% will prevent content overflow */
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 30px;
  box-shadow: 0 0 3px 1px
    /* box shadow, x y blur spread */
}

/* all option buttons flex or grid */
/* .optionButtons {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 15px;
  margin: 30px 0;
  font-size: 20px;
} */
.optionButtons {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 15px;
  margin: 30px;
  font-size: 20px;
}

/** answer button */
.buttonClass {
  border: 2px solid lightgray;
  border-radius: 2px;
  padding: 10px;
  background-color: gainsboro;

  font-size: 18px;
  box-shadow: 0 0 1px 1px;

}

/** simple button hover highlight */


.buttonClass:hover {
  border-color: black;
}

/* question text */
.question {
  font-size: 20px;
}


/* other buttons */
.otherButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px
}


.startButton {
  border: 2px solid white;
  border-radius: 2px;
  padding: 10px;
  background-color: gainsboro;
  height: 100%;
  width: 100%;
  font-size: 18px;
  box-shadow: 0 0 1px 1px;
  gap: 20px;
}

.startButton:hover {
  border-color: black;
}

/* .nextButton {

} */

/** will just display Start Quiz button */
.hide {
  display: none;
}

p {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  display: flex;
  justify-content: center;

  font-size: 22px;
}

.quizTitle {
  text-align: center;
  display: flex;
  justify-content: center;

  font-size: 36px;
}

/* .timerText {
  margin: auto;
  width: 25%;
  padding: 25px;
  display: flex;

  justify-content: center;
  text-align: center;

  font-size: 24px; */







/* .mainContent {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  display: flex;

}



*/