/* makes widths and heights easir to style */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  /* view width/height */
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: grey
}

/* container */
.container {
  width: 800px;
  max-width: 80%;
  /* max width 80% will prevent content overflow */
  background-color: gainsboro;
  border-radius: 2px;
  padding: 30px 30px;
  box-shadow: 0 0 3px 1px
    /* box shadow, x y blur spread */
}

/* all option buttons */
.optionButtons {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 15px;
  margin: 30px 0;
  font-size: 20px;
}

/** answer button */
.buttonClass {
  border: 2px solid lightgray;
  border-radius: 2px;
  padding: 20px 5px;
  background-color: whitesmoke;
  height: 100%;
  font-size: 18px;
  box-shadow: 0 0 1px 1px;

}

/** simple button hover highlight */
.buttonClass:hover {
  border-color: black;
}

/* question text */
#question {
  font-size: 20px;
}


/* start & next buttons */
.otherButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 10px
}


.startButton,
.nextButton {
  font-size: 22px;
  font-weight: bold;
  padding: 15px 30px;
  gap: 10px;
}


/** will just display Start Quiz button */
.hide {
  display: none;
}


/* header {
  text-align: center;
  padding: 20px;
  color: slategray
}
*/
/* .title {
  margin: auto;
  width: 50%;
  padding: 25px 25px;
  text-align: center;
  font-size: 36px;
} */

.timerText {
  margin: auto;
  width: 25%;
  padding: 25px 25px;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;

  font-size: 24px;

}




/*
h1 {
  font-size: 36px;
} 
/* */
/* .mainContent {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  display: flex;

}

.startButton {
  background-color: hsl(106, 91%, 35%);
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);

  font-size: 22px;

  margin: auto;
  padding: 14px 34px;
  cursor: pointer;
  display: flex;

  justify-content: center;
}

.timer {
  display: flex;
  justify-content: center;
} */


/* 


@media screen and (min-width: 600px) {
  img {
    min-width: 60%;
  }
} */